* {
    margin: 0;
    padding: 0;

}

/* WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 5px;
    /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: aqua;
    /* Color of the scrollbar handle */
    border-radius: 10px;
    /* Optional: round the corners */
}

::-webkit-scrollbar-thumb:hover {
    background-color: yellow;
    /* Color when hovering over the scrollbar handle */
}

.navbar {
    padding: 0;
    margin-top: 0;
}

.navbar-nav li {
    padding: 0 .5vw;
    box-sizing: border-box;
}

#nav-link {
    color: rgb(255, 0, 217);
    font-size: 1.1em;
    font-weight: 700;

}

#navbarNav {
    display: flex;
    justify-content: space-between;
}

.navbar.navbar-expand-lg {
    /* background-color: transparent; */
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

.collapse.navbar-collapse {
    margin-left: 12vw;
}


.alert-dismissible {
    padding-right: 4rem;
    margin-top: 5vw;
}
.ngoheaderlogo a img {
    /* width: 5vw; */
    height: 10vh;
    margin-left: 2vw;
    /* box-shadow: 3px 2px 11px rgb(15, 178, 178); */
    transition: all .2s ease-in-out;

}

.navbar-brand span {

    font: 2em sans-serif;
}

.navbar-brand {

    margin-right: 0;
}

#ngonamesingle {
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5);
}

.nav-item:hover {

    background-color: rgb(255, 0, 217);
    /* border: black solid; */
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    border-radius: 20px;
}


#nav-link:hover {
    color: white;
}

.navbar-brand:hover {

    box-shadow: 1px 15px 30px rgb(75, 82, 82);
    transition: all .2s ease-in-out;

}

.navbar.navbar-expand.nbar {
    margin: 0px;
    padding: 0;
    position: fixed;
    z-index: 1;
    background: linear-gradient(to right, rgb(247, 246, 200), rgb(171, 220, 236), rgb(243, 162, 214));
    width: 100%;
    top: 0;
}

hr {
    padding: 0;
}

main {
    width: 100vw;
    margin: 0;
    padding: 20px;
    background-image: url(/static/img/home/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* Optional: Center the background image */
    border-radius: 1fmaipx;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #f0f0f0;

    padding: 20px;
    text-align: center;
    position: relative;
    margin: 0;
    bottom: 0;
    width: 100%;
}

.body {

    background: linear-gradient(to right, rgb(247, 246, 200), rgb(171, 220, 236), rgb(243, 162, 214));
    width: 100%;
    overflow-x: hidden;
}

.quote {

    display: grid;
    justify-content: left;
    margin-left: 10vw;
    margin-top: 10vh;




}

.fixtext {
    color: rgb(236, 46, 36);
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 1.7em;
}

.auto-type {
    color: aqua;
}

.moto {
    color: rgb(201, 195, 195);
    font-size: 1em;
}

.carousel-inner {
    max-width: 1200px;
    /* Set the maximum width of the carousel */
    /* max-height: 800px; */
    /* Set the maximum height of the carousel */
    margin: 0 auto;
    /* Center the carousel */
}

.ngocar {
    transition: transform 1s ease;
}

.carousel-item img {
    max-width: 100%;
    /* Make the images responsive within the carousel */
    height: auto;
}

.carname {
    display: flex;
    justify-content: center;
    /* Center the content horizontally */
    align-items: center;
    /* Center the content vertically */
}

.carname h2 {
    margin: 5px;
    /* Remove default margin */
    margin-bottom: 15px;
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5);
    /* Add shadow */
    padding: 10px;
    font-size: 2.8em;
}

.our-team {
    padding: 60px 0;

}

.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.team-member {

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
    transition: transform 0.3s ease-in-out;
}

.team-member:hover {
    transform: translateY(-10px);
    /* Move the card up on hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /* Add a larger shadow on hover */
}

.team-member-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.team-member-name {
    font-size: 20px;
    margin-bottom: 5px;
}

.team-member-position {
    font-size: 16px;
    color: #6c757d;
}

.support-cause {
    padding: 60px 0;

}

.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.cause-card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.cause-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.cause-photo {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.cause-details {
    padding: 20px;
    text-align: center;
}

.cause-name {
    font-size: 24px;
    margin-bottom: 10px;
}

.cause-goal {
    font-size: 16px;
    color: #2b00ff;
    margin-bottom: 10px;
}

.cause-description {
    font-size: 14px;
    color: #474646;
    margin-bottom: 20px;
}

.btn-primary {
    background: linear-gradient(to top right, #9ce4eb, #a617bf);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    width: 7vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3vw;
    position: relative;
}

.btn-primary:hover {
    color: black;
    transform: scale(1.15);
}

.upcoming-events {
    padding: 60px 0;
    margin-top: 5vw;

}

.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.event-card {
    perspective: 1000px;
    margin-bottom: 30px;
}

.event-card-inner {
    position: relative;
    width: 100%;
    height: 400px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.event-card:hover .event-card-inner {
    transform: rotateY(180deg);
}

.event-card-front,
.event-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 60px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.event-card-front {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
}

.event-name {
    font-size: 24px;
    margin-bottom: 10px;
}

.event-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}


.event-card-back {
    background-color: #aeefe7;
    color: #000000;
    transform: rotateY(180deg);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-details {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

#button {
    /* color: white; */
    font-size: 1.1em;
    border: none;
    /* background-color: rgb(249, 201, 106); */
    margin-bottom: 2vh;
    margin-right: 2vh;
    cursor: pointer;
    border-radius: 20px;
    padding-right: 2vh;
    padding-left: 2vh;
    color: rgb(99, 97, 97);
    background: linear-gradient(0.25turn, #ebf8e1, #f69d3c);
    transition: transform 0.3s ease;
}

#button:hover {
    color: black;
    transform: scale(1.15);
}

.bcontainer {
    display: flex;


}

.bcontainer h2 {
    color: rgb(255, 81, 0);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.bcontainer p {
    color: rgb(52, 205, 159);
    font-size: 0.9em;
    font-weight: 300;
    text-shadow: rgb(22, 22, 22) 0.2px 1px;
}

.abt {
    width: 30vw;
    justify-content: center;
    margin-top: 25px;
    margin-left: 12vw;
    padding: 17px;
    box-shadow: 21px -7px 37px black;
    transition: transform 0.3s ease;
    margin-bottom: 5vh;

}

.abt:hover {

    transform: scale(1.02);
}

.jon {
    width: 30vw;
    justify-content: center;
    margin-top: 5vh;
    margin-left: 12vw;
    padding: 17px;
    box-shadow: 21px -7px 37px black;
    transition: transform 0.3s ease;


}

.jon:hover {
    transform: scale(1.1);
}

.butt {
    /* background-color: rgb(249, 201, 106); */
    background: linear-gradient(to right, yellow rgb(243, 243, 249));
    color: rgb(99, 97, 97);
    background: linear-gradient(0.25turn, #ebf8e1, #f69d3c);
    transition: transform 0.3s ease;
    border-radius: 20px;


}

.butt:hover {
    color: black;
    transform: scale(1.15);
}

#signup {
    font-size: 1.1em;
    border: none;
    margin-bottom: 1vh;
    margin-right: 1vh;
    margin-left: 3vh;
    border-radius: 20px;
    padding-right: 2vh;
    padding-left: 2vh;
    cursor: pointer;
    color: rgb(99, 97, 97);
    background: linear-gradient(0.25turn, #ebf8e1, #f63ca5);
    transition: transform 0.3s ease;

}

#login {
    font-size: 1.1em;
    border: none;
    margin-bottom: 1vh;
    margin-right: 1vh;
    margin-left: 3vh;
    border-radius: 20px;
    padding-right: 2vh;
    padding-left: 2vh;
    cursor: pointer;
    color: rgb(99, 97, 97);
    background: linear-gradient(0.25turn, #ebf8e1, #f63ca5);
    transition: transform 0.3s ease;

}

#signup:hover {


    border: solid 0.01em;
    border-color: rgb(230 5 140);

    color: black;
    transform: scale(1.15);
}

#login:hover {
    border: solid 0.01em;
    border-color: rgb(230 5 140);

    color: black;
    transform: scale(1.15);
}

/* #button:hover{
    color: rgb(249, 201, 106);
    background-color: white;
    border: solid 0.01em;
    border-color: rgb(249, 201, 106);
    transition: all .2s ease-in-out;
} */

.loginbuttons {
    margin-top: 10px;
    color: white;
    font-size: 1.1em;
    border: none;
    background-color: rgb(230 5 140);
    margin-bottom: 2vh;
    margin-right: 2vh;
    border-radius: 20px;
    padding-right: 2vh;
    padding-left: 2vh;
    cursor: pointer;
}


#dropdown {
    background-color: rgb(230 5 140);
    border-radius: 40px;
    color: white;
}

.dropdown-menu.show {
    border-radius: 40px;
    padding: 0px;
}

.dropdownitem {

    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(249, 201, 106);
}

#sighnupmodal {
    background-color: transparent;
}

main h2 {
    color: wheat;

}

main p {
    color: rgb(254, 250, 243);

}

.image-container {
    position: relative;
    display: inline-block;
}

#menu-image {
    max-width: 40px;
    height: auto;
    cursor: pointer;
    margin-left: -12vw;
}

.menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 17vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1;
    margin-left: -18vw;
    border-radius: 10px;
    background: linear-gradient(125deg, aqua, pink);
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.menu li a {
    color: #ff00a6;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-weight: 500;
    font-size: 1.1em;
}

.menu li a:hover {
    color: #666;
}

@media (max-width:1350px) {
    #nav-link {
        display: none;
    }

    #dropdown {
        right: 0;
        margin-right: 2vw;
        position: absolute;

        margin-top: -3vh;

    }

    .navbar.navbar-expand-lg {
        /* background-color: transparent; */
        background-color: rgba(255, 255, 255, 0.9);
        display: flex;
        width: 100%;
    }

    .nav-item {
        display: none;
    }

    .carname h2 {
        margin: 5px;
        margin-bottom: 15px;
        text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5);
        padding: 4px;
        font-size: 2.2em;
    }

}

@media(min-width:1350px) {
    #menu-image {
        display: none;
        position: relative;
    }



}

footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer-info i {
    font-size: 24px;
    margin-right: 10px;
}



.footer-links {
    display: flex;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.footer-links ul li {
    margin-right: 20px;
    margin-bottom: 10px;

}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-subscribe {
    margin-bottom: 20px;
}

.footer_image img {
    margin-right: 1vw;
    margin-bottom: 1vw;
    width: 200px;
}

.footer-subscribe input[type="email"] {
    padding: 10px;
    width: 200px;
}

.footer-subscribe button {
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    cursor: pointer;
}

.footer-social a {
    font-size: 24px;
    margin-right: 10px;
    transition: opacity 0.3s ease;
}

.footer-social a:hover {
    opacity: 0.8;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.footer-bottom ul li {
    margin-right: 20px;
}

.footer-bottom ul li a {
    color: #fff;
    text-decoration: none;
}

.fa,
.fas {
    font-weight: 900;
    margin-bottom: 16px;
}

.video-container {
    position: absolute;
    height: 48vh;
    overflow: hidden;
    right: 0;
    /* display: grid; */
    /* justify-content: center; */
    /* width: 25vw; */
    margin-right: 2vw;
    margin-top: -17vw;
}

.video-container h3 {

    align-items: center;
    color: rgb(13, 106, 20);
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    font-weight: 900;
    background-color: white;
    height: 6vh;
    width: auto;
}

.video-container iframe {
    position: relative;
    width: 22vw;
}

.loader-wrapper {
    display: none;
    /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1000;
    /* Ensure it's above other elements */
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    /* Apply rotation animation */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    /* Center the loader */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media(max-width:984px) {
    .video-container h3 {
        height: 4vh;
        width: 35vw;
        font-size: 0.8em;
    }

    .video-container iframe {
        width: 35vw;
        height: 35vw;
    }

    .abt {
        width: 40vw;
        margin-left: 2vw;
    }
}

@media(max-width:600px) {
    .body {
        width: 82%;

    }

    .video-container h3 {
        height: 2.5vh;
        width: 37vw;
        font-size: 0.6em;
    }

    .video-container {
        margin-top: -55vw;
    }

    .video-container iframe {
        width: 37vw;
        height: 40vw;

    }



    .abt {
        width: 55vw;
        height: 44vw;
        margin-left: 2vw;
    }

    .bcontainer p {
        font-size: 0.6em;
    }

    .jon {
        margin-left: 2vw;
        width: 55vw;
        margin-top: -7vw;
    }

    main {
        width: 100vw;

    }

    .ngoheaderlogo a img {
        width: 20vw;
        height: 11vw;
        margin-left: 1vw;
    }

    #ngonamesingle {

        font-size: 1.5em;
    }
 

}

