{% extends 'base.html' %}

{% block title %}
About Us
{% endblock title %}
{% block head %}
<link href="static/css/about.css" rel="stylesheet">
{% endblock head %}


{% block body %}

<body>
    <section class="storysection">
        <div class="container">
            <div class="storycard1">
                <img src="/static/img/about/aboutus.jpg" alt="Our Story" class="storyimage">

            </div>
            <div class="storycard">
                <h2>Our Story</h2>
                <p>Welcome to Love Care Share. Our journey began with a simple idea: to spread love, care, and support
                    to those in need. Over the years, we have grown into a dedicated team of volunteers working
                    tirelessly to make a positive impact on society. Our story is a testament to the power of compassion
                    and community.</p>
            </div>
        </div>
    </section>
    <section class="storysection">
        <div class="container">

            <div class="storycard">
                <h2>Genesis</h2>
                <p>Love Care Share was founded in 20XX by a group of passionate individuals who wanted to make a difference in their community. Our genesis was marked by a commitment to serving others and addressing the most pressing challenges facing our society. From humble beginnings, we have grown into a respected organization with a reputation for excellence and integrity.</p>
            </div>
            <div class="storycard1">
                <img src="/static/img/about/aboutus.jpg" alt="Our Story" class="storyimage">

            </div>
        </div>
    </section>
    <section class="storysection">
        <div class="container">
            <div class="storycard1">
                <img src="/static/img/about/aboutus.jpg" alt="Our Story" class="storyimage">

            </div>
            <div class="storycard">
                <h2>Mission</h2>
                <p>Our mission is to provide assistance and resources to individuals and communities facing various challenges. We aim to create a more inclusive and compassionate world where everyone has access to the support they need to thrive. Through our initiatives and programs, we strive to empower individuals, promote social justice, and foster community resilience.</p>
            </div>
        </div>
    </section>
    <section class="storysection">
        <div class="container">

            <div class="storycard">
                <h2>Vision</h2>
                <p>Our vision is to build a society where kindness and empathy prevail, where every person feels valued and supported. We envision a future where no one is left behind, and where love and care are the driving forces behind positive social change. By working together with our partners and stakeholders, we believe we can create a brighter and more equitable future for all.</p>
            </div>
            <div class="storycard1">
                <img src="/static/img/about/aboutus.jpg" alt="Our Story" class="storyimage">

            </div>
        </div>
    </section>
    <section class="storysection">
        <div class="container">
            <div class="storycard1">
                <img src="/static/img/about/aboutus.jpg" alt="Our Story" class="storyimage">

            </div>
            <div class="storycard">
                <h2>Belief</h2>
                <p>At Love Care Share, we believe that together, we can make a difference. We believe in the power of compassion, kindness, and solidarity to transform lives and communities. Our belief fuels our commitment to creating a better world for all. We are guided by the values of empathy, integrity, and collaboration in everything we do.</p>
            </div>
        </div>
    </section>


</body>

{% endblock body %}