<!-- checkout.html -->
{% extends "base.html" %}
{% block title %}Checkout{% endblock title %}
{% block head %}
<link href="static/css/checkout.css" rel="stylesheet">
{% endblock head %}
{% block body %}
<div class="main-content">
    <div class="checkout-container">
        <h1>Checkout Page</h1>
        
        <form action="{% url 'create_checkout_session' %}" method="POST">
            {% csrf_token %}
            <div class="amount-selection">
                <label>Select Amount:</label>
                <div class="custom-amount">
                    <label for="custom-amount">Enter Custom Amount:</label>
                    <input type="number" name="amount" id="custom-amount" min="1" placeholder="Enter amount in INR">
                </div>
            </div>
            
            <div class="customer-details">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" required>

                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required>

                <label for="address_line1">Address Line 1:</label>
                <input type="text" name="address_line1" id="address_line1" required>

                <label for="address_line2">Address Line 2:</label>
                <input type="text" name="address_line2" id="address_line2">

                <label for="address_city">City:</label>
                <input type="text" name="address_city" id="address_city" required>

                <label for="address_state">State:</label>
                <input type="text" name="address_state" id="address_state" required>

                <label for="address_postal_code">Postal Code:</label>
                <input type="text" name="address_postal_code" id="address_postal_code" required>
            </div>

            <button type="submit" class="pay-btn">Pay Now</button>
        </form>
    </div>
</div>
{% endblock body %}
