{% extends 'base.html' %}

{% block title %}
Sponsorship
{% endblock title %}
{% block head %}
<link href="static/css/join.css" rel="stylesheet">
{% endblock head %}
{% block body %}
<body>
    <section>
      <div>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, quam! Ex ab rem et cupiditate placeat ut consequatur aliquid corrupti, est eos esse aspernatur dolorum porro! Molestiae aut, odit, iure in itaque sapiente sit molestias dignissimos aliquam labore similique est mollitia voluptatum ipsa laudantium quas quaerat, tempora accusantium impedit iste eius excepturi omnis? Omnis, explicabo asperiores! Laboriosam earum modi dolor fugiat tempora quae! Iure cumque, similique sunt sit a deserunt atque possimus expedita repudiandae eligendi fuga ut eius eaque doloribus impedit porro, soluta ipsam quaerat tempore. Maxime, consequuntur rem similique nulla nam necessitatibus quae magni repudiandae ut. Nam laudantium nobis minima, est, dolorum consequuntur quae totam voluptate maxime sequi suscipit laboriosam nesciunt commodi quam id obcaecati. Nam sequi culpa quas.
      </div>
    </section>
    <section>
      <div class="jcontainer">
        <h2>Sponsorship Details</h2>
        <form action="/sponsorship" method="POST" >
          {% csrf_token %}
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" placeholder="Enter Your Name" required>
    
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" placeholder="Enter Your Email Address" required>
    
          <label for="phone">Phone:</label>
          <input type="tel" id="phone" name="phone" placeholder="Enter Your Phone Number" required>
    
          <label for="address">Address:</label>
          <textarea id="address" name="address" placeholder="Enter your Address" required></textarea>
    
          <label for="availability">Availability:</label>
          <textarea id="availability" name="availability" placeholder="Enter Your Availability" required></textarea>
    
          <input type="submit" value="Submit">
        </form>
      </div>
    </section>
  </body>
{% endblock body %}
